#coin{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    background: silver;
    text-align: center;
    line-height: 50px;
    font-size: 2em;

}
.side{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    background-size: cover;
}

/* .front{
    background-image: url('Front Army.jpeg');
}

.back {
    background-image: url('Front back coin.jpeg');
    transform: rotateY(180deg);
} */

.maincontainer {
    position: absolute;
    width: 250px;
    height: 320px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    
    /* transition: all 0.8s ease; */
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* background-image: url('front.png'); */
    text-align: center;
    z-index: 5;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url('back.png'); */
    text-align: center;
    transform: rotateY(180deg)
}

.flipCard {
    transform: rotateY(180deg)
}

@keyframes flipCoin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

img{
    height: 250px;
}

.button{
    box-sizing: border-box;
    box-shadow: 0cqh;

    
}
/* *
{
    margin: 0;
    padding:0%;
    box-sizing: border-box;
    font-family: fantasy;

/* }
body{
    display: flex;
    justify-content: center;
    background: khaki;
    align-items: center;
    min-height: 100vh; */
/* }
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: gray;
    padding: 40px 60px;

}
.game {
    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
} */ 

@keyframes flip {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
  #card {
    /* The rest of your styling */
    transform-style: preserve-3d;
    backface-visibility: hidden; /* Hide the back to create the flip illusion */
  }
  
  .flipCard {
    animation: flip 0.8s linear infinite; /* Infinite will continuously play the animation */
  }
  